body{
	background:linear-gradient(to right, #8080ff,#ff66ff);
	font-family:sans-serif;
	text-align:center;
}
img{
		max-width:20%;
	height:auto;
	border:20px double black;
	padding:0.5%;
	margin:2%;
}

.photo{
	display:inline;

}


h1:hover{
	color:#3333ff;
	font-size:100px;
	-webkit-text-stroke-width: 10px;
  -webkit-text-stroke-color: black;
}


img:hover{
		max-width:40%;
	height:auto;
	border:20px double black;
	padding:0.5%;
	margin:2%;



}


